@import url("https://fonts.googleapis.com/css?family-Montserrat:500, 480, 700, 600|Source+Sans+Pro:400,680 | Roboto:400|Inter:800");

.header {
  max-width: 100%;
  padding: 0px 20px 0px 20px;
  background-color: #6867ab;
}

.header_list {
  display: flex;
  list-style-type: none;
  gap: 41px;
  flex-wrap: wrap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: white;
  text-decoration: none;
}

.header_link_gradiend {
  padding: 7px 27px;
  background-color: #4de6ff;
  border-radius: 8px;
  color: black;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
