.header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
  background-color: #6867AB;
  flex-wrap: wrap;
}

.header_list {
  display: flex;
  list-style-type: none;
  gap: 41px;
  flex-wrap: wrap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: white;
  text-decoration: none;
}

.header_link_gradiend {
  margin-right: 120px;
  padding: 7px 27px;
  background-color: #4DE6FF;
  border-radius: 8px;
  color: black;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}