.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 50px;
    max-width: 205px;
    background: rgba(104, 103, 171, 0.35);
    max-height: 205px;
    border-radius: 100%;
  }

  .container {
    margin: 0 auto;
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 0px 15px;
    flex-wrap: wrap;
  }