@import url("https://fonts.googleapis.com/css?family-Montserrat:500, 480, 700, 600|Source+Sans+Pro:400,680 | Roboto:400|Inter:800");

body {
  font-family: "Poppins", sans-serif;
  font-weight: 600px;
  color: white;
  margin: 0;
}

.main {
  max-width: 100%;
  margin: 0 auto;
  background: #6867ab;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-height: 680px;
}

.img_illustration {
  background-image: url(../../public/illustration.png);
  width: 1230px;
  height: 680px;
  margin-left: 26%;
}

.img_play {
  background-image: url(../../public/play.png);
  width: 544px;
  height: 192px;
  position: absolute;
  left: 13%;
  top: 35%;
  background-repeat: no-repeat;
}

.img_group {
  background-image: url(../../public/img/Group1.png);
  width: 322px;
  height: 110px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 50px;
  background-repeat: no-repeat;
}

.img_spheres {
  background-image: url(../../public/img/Spheres1.png);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 10%;
  top: 90%;
  background-repeat: no-repeat;
}

.img_footer {
  background-image: url(../../public/footer.png);
  width: 1504px;
  height: 567px;
}

.header_logo {
  width: 90px;
  height: 90px;
  top: 0px;
  background-image: url(../../public/logo.svg);
}

.card_img_maks {
  background-image: url(../../public/img/photo/maks.png);
  background-repeat: no-repeat;
  height: 250px;
}

.card_img_eva {
  background-image: url(../../public/img/photo/eva.png);
  background-repeat: no-repeat;
  height: 250px;
}

.card_img_maksymov {
  background-image: url(../../public/img/photo/maksymov.png);
  background-repeat: no-repeat;
  height: 250px;
}

.card_img_maksym {
  background-image: url(../../public/img/photo/maksym.png);
  height: 250px;
}

.card_news_img {
  background-image: url(../../public/img/news/news.png);
  background-repeat: no-repeat;
}

.slider1 {
  background-image: url(../../public/Group\ 50.png);
  background-repeat: no-repeat;
  height: 205px;
}

.slider2 {
  background-image: url(../../public/Group\ 51.png);
  background-repeat: no-repeat;
  height: 205px;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px 0px 15px;
  flex-wrap: wrap;
}

.title {
  margin-top: 10px;
  margin-right: 20px;
  color: #111827;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.card__body {
  color: #111827;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 20px;
}

.body {
  color: #111827;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin: 0 auto;
  margin-bottom: 60px;
}

p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.comand {
  background-image: url(../../public/Group\ 22.png);
  width: 492px;
  height: 120px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 50px;
  background-repeat: no-repeat;
}

.partners {
  background-image: url(../../public/Group\ 47.png);
  width: 492px;
  height: 120px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 50px;
  background-repeat: no-repeat;
}

.logister {
  position: absolute;
  left: 40%;
  top: 3%;
}

.logister2 {
  position: absolute;
  left: 80%;
  top: 20%;
}

.logister3 {
  position: absolute;
  left: 10%;
  top: 60%;
}

h1 {
  text-align: center;
  font-style: bold;
  font-weight: 700;
  font-size: 58px;
  line-height: 71px;
  color: #000000;
  padding-bottom: 83px;
}

.vector {
  background-image: url(../../public/Vector\ 3.png);
}
