.footer {
  height: 567px;
  position: relative;
  margin-top: 57px;
}

.fort {
  background-image: url(../../../public/img/other/footer.png);
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 100%;
}
